<div class="container" *ngIf="repo">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ repo.name }}</h1>
      <h3>{{ repo.owner.login }}</h3>

      <div class="d-flex justify-space-between">
        <h5>Watchers: {{ repo.watchers }}</h5>
        | |
        <h5>Forks: {{ repo.forks }}</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h5>Mainly: {{ repo.language }}</h5>   
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
           <!-- loop through language array -->
           <div *ngFor="let language of languages">
            <div class="d-flex justify-content-between">
              <h5 class="ml-5">{{ language.name }}</h5>
              <div class="progress w-75">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [ngStyle]="{ width: (language.value / total) * 100 + '%' }"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                 {{roundNumber((language.value / total) * 100 ) + '%'}}
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
