<table class="table" *ngIf="gists; else loading">
  <thead>
    <tr>
      <th scope="col">index</th>
      <th scope="col">Name</th>
      <!-- <th scope="col">Stack</th> -->
      <th scope="col">Owner</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gist of gists; let i = index">
      <td scope="row">{{ i+1 }}</td>
      <td>{{ getGistFileName(gist) }}</td>
      <!-- <td>
        <div class="stacked-bar-graph">
          <span style="width:20%" class="bar-1">20%</span>
          <span style="width:15%" class="bar-2">15%</span>
          <span style="width:30%" class="bar-3">30%</span>
        </div>
      </td> -->
      <td>
        <a  [routerLink]="['/users/', gist.owner.login]">
        <img [src]="gist.owner.avatar_url" alt="" class="profile">
      </a>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #loading>
  <div class="d-flex justify-content-center align-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</ng-template>
